<div class="container">
  <h1>Welcome the Event Lister App</h1>
  <form class="login-form" method="POST">
    <h2>Login</h2>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username-login" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password-login" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
</div>
<div class="container">
  <h2 class="page-title">Signup</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="username-signup">Username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">signup</button>
    </div>
  </form>
</div>
<div id="passwordTooShortModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <p id="passwordTooShortMessage">Password too short. Must be 8 characters or longer.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary close-button">Close</button>
    </div>
  </div>
</div>

<script src="../js/login.js"></script>