<div class="schedule-container">
    <div class="card-header col-md-10">
        <h2>
            {{!-- something goes here --}}
        </h2>
    </div>
    {{#each dates as |date|}}
    <div class="day col-md-5">
        <p>
            {{dates.date}}
        </p>
    </div>
</div>
